<nav class="navbar navbar-expand-md navbar-ligth">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-toggler"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-toggler">
      <a class="navbar-brand" href="">
        <img src="images/hand-shake.png" alt="logo" width="50" />
      </a>
      <ul class="navbar-nav d-flex justify-content-center align-items-center">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="login"
          >Ingresar</a>
        </li>

      </ul>

    </div>
  </div>
</nav>

<section class="hero alingn-items-stretch">
  <div
    class="hero-principal d-flex flex-column justify-content-center align-items-center"
  >
    <img
      class="hero-imagen rounded-circle"
      src="images/teamwork.png"
      alt="viaje"
      width="250"
    />
    <h1>Banco de San Lorenzo</h1>
    <h2>Lorem ipsum dolor sit amet turi.
    </h2>
  </div>
  <div class="hero-inferior">
    <img
      class="hero-inferior-imagen img-fluid"
      src="images/office.png"
      alt="imagen2"
    />
  </div>
</section>

<section class="sobre-mi seccion-oscura">
  <div class="contenedor2">
    <h2 class="seccion-titulo texto-blanco">Conoce quienes somos</h2>
    <p class="seccion-texto">Lorem ipsum dolor sit, amet consectetur adipisicing
      elit. Quam, ratione beatae maxime tempora reprehenderit nisi quo natus
      fugit. Eos nihil itaque explicabo voluptatibus facere sit omnis nam? Sunt
      dolorem nesciunt in maxime, porro veritatis excepturi maiores, assumenda,
      voluptatem illo veniam id nam voluptatibus at vel dolores? Animi
      praesentium quae libero maxime natus. Tempora debitis ab et quibusdam
      nesciunt maxime ipsum quod
    </p>
  </div>
</section>

<section class="experiencia seccion-clara">

  <div class="container text-center">
    <div class="row">
      <div class="columna col-12 col-md-4">
        <i class="bi bi-laptop"></i>
        <p class="experiencia-titulo">desarrollo web</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Voluptatibus, animi.</p>
        <div class="badges-contenedor">
          <span class="badge text-bg-primary">HTML</span>
          <span class="badge text-bg-primary">CSS</span>
          <span class="badge text-bg-primary">Javascript</span>
        </div>
      </div>
      <div class="columna col-12 col-md-4">
        <i class="bi bi-laptop"></i>
        <p class="experiencia-titulo">desarrollo web</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Voluptatibus, animi.</p>
        <div class="badges-contenedor">
          <span class="badge text-bg-primary">HTML</span>
          <span class="badge text-bg-primary">CSS</span>
          <span class="badge text-bg-primary">Javascript</span>
        </div></div>

      <div class="columna col-12 col-md-4">
        <i class="bi bi-laptop"></i>
        <p class="experiencia-titulo">desarrollo web</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Voluptatibus, animi.</p>
        <div class="badges-contenedor">
          <span class="badge text-bg-primary">HTML</span>
          <span class="badge text-bg-primary">CSS</span>
          <span class="badge text-bg-primary">Javascript</span>
        </div></div>
    </div>
  </div>

</section>

<section class="proyectos-recientes seccion-clara d-flex flex-column">
  <h2 class="seccion-titulo texto-negro">mis proyectos</h2>
  <h3 class="seccion-descripcion">estos son algunos de mis proyectos</h3>
  <div class="container text-center proyectos-contenedor">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="images/th.jpg" alt="proyecto1" />
          <div class="overlay">
            <p>proyecto 1</p>
            <div class="iconos-contenedor">
              <a
                href="https://github.com"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-github"></i>
              </a>
              <a href="" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="images/th.jpg" alt="proyecto1" />
          <div class="overlay">
            <p>proyecto 1</p>
            <div class="iconos-contenedor">
              <a
                href="https://github.com"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-github"></i>
              </a>
              <a href="" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
            </div>
          </div>

        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="images/th.jpg" alt="proyecto1" />
          <div class="overlay">
            <p>proyecto 1</p>
            <div class="iconos-contenedor">
              <a
                href="https://github.com"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-github"></i>
              </a>
              <a href="" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="images/th.jpg" alt="proyecto1" />
          <div class="overlay">
            <p>proyecto 1</p>
            <div class="iconos-contenedor">
              <a
                href="https://github.com"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-github"></i>
              </a>
              <a href="" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="images/th.jpg" alt="proyecto1" />
          <div class="overlay">
            <p>proyecto 1</p>
            <div class="iconos-contenedor">
              <a
                href="https://github.com"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-github"></i>
              </a>
              <a href="" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
            </div>
          </div>

        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <div class="proyecto">
          <img src="images/th.jpg" alt="proyecto1" />
          <div class="overlay">
            <p>proyecto 1</p>
            <div class="iconos-contenedor">
              <a
                href="https://github.com"
                target="_blank"
                rel="noopener noreferrer"
              >
                <i class="bi bi-github"></i>
              </a>
              <a href="" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-laptop"></i>
              </a>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  <a href="https://github.com" target="_blank" rel="noopener noreferrer">
    <button type="button" class="btn btn-info">ver mas proyectos
      <i class="bi bi-arrow-up-right-circle-fill"></i></button>
  </a>
</section>

<section class="articulos justify-content-start">
  <h2 class="seccion-titulo">Articulos</h2>
  <div class="card">
    <div class="card-header">
      Mas recientes
    </div>
    <ul class="list-group list-group-flush">
      <a href="" target="_blank" rel="noopener noreferrer">
        <li class="list-group-item">ventajas y enlaces</li>
      </a>
      <a href="" target="_blank" rel="noopener noreferrer">
        <li class="list-group-item">ventajas y enlaces</li>
      </a>
      <a href="" target="_blank" rel="noopener noreferrer">
        <li class="list-group-item">ventajas y enlaces</li>
      </a>
      <a href="" target="_blank" rel="noopener noreferrer">
        <li class="list-group-item">ventajas y enlaces</li>
      </a>
      <a href="" target="_blank" rel="noopener noreferrer">
        <li class="list-group-item">ventajas y enlaces</li>
      </a>
      <a href="" target="_blank" rel="noopener noreferrer">
        <li class="list-group-item">ventajas y enlaces</li>
      </a>

    </ul>
  </div>

  <a href="https://github.com" target="_blank" rel="noopener noreferrer">
    <button type="button" class="btn btn-info">ver mas articulos
      <i class="bi bi-arrow-up-right-circle-fill"></i></button>
  </a>

</section>

<section class="testimonios seccion-clara">

  <h2 class="seccion-titulo">testimonios</h2>
  <h3 class="seccion-descripcion">estos son testimonios de algunos de mis
    clientes</h3>

  <div id="testimonios-carrusel" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
          <img
            src="images/ilustracion-reserva-billetes-avion-destino-viaje.jpg"
            class="d-block w-100 testmimonio-imagen"
            alt="..."
          />
        </div>
        

      </div>
      <div class="carousel-item">
        <img src="images/fondo1.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img
          src="images/ilustracion-reserva-billetes-avion-destino-viaje.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#testimonios-carrusel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#testimonios-carrusel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</section>

<section class="contacto seccion-oscura">
  <div class="container">
    <div class="container rectangulo text-center d-flex justify-content-evenly">
      <div class="row">
        <div class="col-12 col-md-4 seccion-titulo">Hablemos</div>
        <div class="col-12 col-md-4 descripcion">contactame para mas </div>
        <div class="col-12 col-md-4 seccion-titulo"><a href="mailto:mlmh3113@hotmail.com">
          <button type="button"><i class="bi bi-envelope-at-fill"> Contacto</i>  </button>
        </a></div>
      </div>
    </div>
  </div>
</section> --}}

<footer class="seccion-oscura d-flex flex-column align-items-center justify-content-center">
<img class="footer-icono" src="images/briefcase.gif" alt="logo-blanco">
<p class="footer-texto text-center">Lorem, ipsum dolor. <br> Lorem, ipsum dolor.</p>

<div class="iconos-redes-sociales d-flex flex-wrap align-items-center justify-content-center">

<a href="" target="_blank" ><i class="bi bi-twitter"></i></a>

<a href="" target="_blank" ><i class="bi bi-github"></i></a>

<a href="" target="_blank" ><i class="bi bi-instagram"></i></a>

<a href="" target="_blank" ><i class="bi bi-facebook"></i></a>
</div>

<div class="derechos-de-autor">Creado por Martin H.(2023) &#169;</div>

</footer>